body {
  font-family: monospace;
  background-color: wheat;
  margin: 0;
  overflow: hidden;
}

.info {
  color: white;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
}

a {
  color: skyblue;
}

.highlight {
  background: orange;
  color: white;
}

span {
  display: inline-block;
  width: 60px;
  text-align: center;
}
